In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib as mpl
mpl.rc('font',family='Malgun Gothic')
mpl.rcParams['axes.unicode_minus'] = False
import seaborn as sns
import scipy.stats as stats

In [2]:
df_TOCC=pd.read_csv("../../datasets/UsingChart_TypeOfContractChannel.csv")
df_TOCC[:3]

,id,type_of_contract,type_of_contract2,channel,datetime,Term,payment_type,product,amount,state,overdue_count,overdue,credit rating,bank,cancellation,age,Mileage
0,66758234,렌탈,Normal,서비스 방문,2019-10-20,60,CMS,K1,96900,계약확정,0,없음,9.0,새마을금고,정상,43.0,1862.0
1,66755948,렌탈,Extension_Rental,서비스 방문,2019-10-20,60,카드이체,K1,102900,계약확정,0,없음,2.0,현대카드,정상,62.0,2532.0
2,66756657,렌탈,Normal,홈쇼핑/방송,2019-10-20,60,CMS,K1,96900,계약확정,0,없음,8.0,우리은행,정상,60.0,2363.0

### quest
- amount, Mileage 관계를 p-value 확인

#### 선정 변수 amount, Mileage
- 분석 내용 : 총량에 따라 마일리지에 영향을 주는가?
    - 귀무가설 : 총량에 따라 마일리지에 영향을 주지 않는다.
    - 대립가설 : 총량에 따라 마일리지에 영향을 준다.
- 분석 결론 (기준 : p-value 0.05)
    - 통계 결론 : 귀무가설 참
    - 사실 결론 : 총량에 따라 마일리지에 영향을 주지 않는다. (statistic=-0.004146, pvalue=0.404010)

In [6]:
# df_TOCC[['amount', 'Mileage']].describe()
df_amount_Mileage = df_TOCC[['amount', 'Mileage']]
df_amount_Mileage[:3]

   amount  Mileage
0   96900   1862.0
1  102900   2532.0
2   96900   2363.0

In [7]:
df_amount_Mileage.isnull().sum()

amount         0
Mileage    10795
dtype: int64

In [8]:
df_amount_Mileage = df_amount_Mileage.dropna().copy()

In [9]:
df_amount_Mileage.corr()

           amount   Mileage
amount   1.000000 -0.004146
Mileage -0.004146  1.000000

In [10]:
stats.pearsonr(df_amount_Mileage['amount'],df_amount_Mileage['Mileage'])

PearsonRResult(statistic=-0.004146217018612766, pvalue=0.404010202657426)