In [1]:
import pandas as pd

### DDA 선택 기준
- 분석 제공 대상 선정 : 컬럼 선택 기준 달라짐.
    - 환자 
    - 의사
    - 병원 운영 관리자
    - 보호자

In [44]:
df_ROS = pd.read_csv('../../datasets/RecurrenceOfSurgery.csv')
df_ROS.head(2)

,Unnamed: 0,환자ID,Large Lymphocyte,Location of herniation,ODI,가족력,간질성폐질환,고혈압여부,과거수술횟수,당뇨여부,...,Modic change,PI,PT,Seg Angle(raw),Vaccum disc,골밀도,디스크단면적,디스크위치,척추이동척도,척추전방위증
0,0,1PT,22.8,3,51.0,0.0,0,0,0,0,...,3,51.6,36.6,14.4,0,-1.01,2048.5,4,Down,0
1,1,2PT,44.9,4,26.0,0.0,0,0,0,0,...,0,40.8,7.2,17.8,0,-1.14,1753.1,4,Up,0

In [45]:
df_ROS.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1894 entries, 0 to 1893
Data columns (total 52 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Unnamed: 0              1894 non-null   int64
 1   환자ID                    1894 non-null   object
 2   Large Lymphocyte        1894 non-null   float64
 3   Location of herniation  1894 non-null   int64
 4   ODI                     462 non-null    float64
 5   가족력                     1843 non-null   float64
 6   간질성폐질환                  1894 non-null   int64
 7   고혈압여부                   1894 non-null   int64
 8   과거수술횟수                  1894 non-null   int64
 9   당뇨여부                    1894 non-null   int64
 10  말초동맥질환여부                1894 non-null   int64
 11  빈혈여부                    1894 non-null   int64
 12  성별                      1894 non-null   int64
 13  스테로이드치료                 1894 non-null   int64
 14  신부전여부                   1894 non-null   int64
 15  신장                      1894 non-null   int64
 16  심혈관질환                   1894 non-null   int64
 17  암발병여부                   1894 non-null   int64
 18  연령                      1894 non-null   int64
 19  우울증여부                   1894 non-null   int64
 20  입원기간                    1894 non-null   int64
 21  입원일자                    1894 non-null   int64
 22  종양진행여부                  1894 non-null   int64
 23  직업                      1479 non-null   object
 24  체중                      1894 non-null   float64
 25  퇴원일자                    1894 non-null   int64
 26  헤모글로빈수치                 1893 non-null   float64
 27  혈전합병증여부                 1894 non-null   int64
 28  환자통증정도                  1894 non-null   int64
 29  흡연여부                    1894 non-null   int64
 30  통증기간(월)                 1890 non-null   float64
 31  수술기법                    1813 non-null   object
 32  수술시간                    1840 non-null   float64
 33  수술실패여부                  1894 non-null   int64
 34  수술일자                    1894 non-null   int64
 35  재발여부                    1894 non-null   int64
 36  혈액형                     1894 non-null   object
 37  전방디스크높이(mm)             1894 non-null   float64
 38  후방디스크높이(mm)             1894 non-null   float64
 39  지방축적도                   1891 non-null   float64
 40  Instability             1894 non-null   int64
 41  MF + ES                 1894 non-null   float64
 42  Modic change            1894 non-null   int64
 43  PI                      1890 non-null   float64
 44  PT                      1890 non-null   float64
 45  Seg Angle(raw)          1893 non-null   float64
 46  Vaccum disc             1894 non-null   int64
 47  골밀도                     998 non-null    float64
 48  디스크단면적                  1893 non-null   float64
 49  디스크위치                   1894 non-null   int64
 50  척추이동척도                  1894 non-null   object
 51  척추전방위증                  1894 non-null   int64
dtypes: float64(16), int64(31), object(5)
memory usage: 769.6+ KB

### 데이터 헨들링
- 정렬 : df.sort_values(by=['column'], ascending=[True or False])
- 추출
    - 열 단위 추출 : df[['column1','column2']].컬럼 리스트로 한다.
    - 행 단위 추출 ㅣ [:3] : 0번째 행 ~2행 까지 
- 필터
- 요약

### 환자 대상 분석 필요
0. 변수 구조 확인
1. 목표 변수 설정 : '재발여부' 정의
2. 설명 변수 설정 : '성별', '신장', '심혈관질환', '체중', '흡연여부', '연령', '직업', '혈액형' 정의

In [46]:
df_ROS.columns

Index(['Unnamed: 0', '환자ID', 'Large Lymphocyte', 'Location of herniation',
       'ODI', '가족력', '간질성폐질환', '고혈압여부', '과거수술횟수', '당뇨여부', '말초동맥질환여부', '빈혈여부',
       '성별', '스테로이드치료', '신부전여부', '신장', '심혈관질환', '암발병여부', '연령', '우울증여부', '입원기간',
       '입원일자', '종양진행여부', '직업', '체중', '퇴원일자', '헤모글로빈수치', '혈전합병증여부', '환자통증정도',
       '흡연여부', '통증기간(월)', '수술기법', '수술시간', '수술실패여부', '수술일자', '재발여부', '혈액형',
       '전방디스크높이(mm)', '후방디스크높이(mm)', '지방축적도', 'Instability', 'MF + ES',
       'Modic change', 'PI', 'PT', 'Seg Angle(raw)', 'Vaccum disc', '골밀도',
       '디스크단면적', '디스크위치', '척추이동척도', '척추전방위증'],
      dtype='object')

In [47]:
# '성별', '신장', '심혈관질환', '체중', '흡연여부', '연령', '직업', '혈액형', '재발여부'
# 열 단위 추출
# df_ROS[['성별', '신장', '심혈관질환', '체중', '흡연여부', '연령', '직업', '혈액형', '재발여부']]
df_ROS_forpatient = df_ROS[['성별', '신장', '심혈관질환', '체중', '흡연여부', '연령', '직업', '혈액형', '재발여부']]
# df_ROS_forpatient.head(3)
df_ROS_forpatient.tail(3)

      성별   신장  심혈관질환    체중  흡연여부  연령   직업    혈액형  재발여부
1891   1  167      0  70.0     0  61   무직   RH+O     0
1892   1  177      0  77.0     0  29  사무직   RH+A     0
1893   2  168      0  49.0     0  30  사무직  RH+AB     0

In [48]:
# 행단위 추출
# iloc[:, :] head(), tail()
df_ROS_forpatient.iloc[:3] # [:3] : 0번째 행 ~2행 까지

   성별   신장  심혈관질환    체중  흡연여부  연령     직업   혈액형  재발여부
0   2  163      0  60.3     0  66    자영업  RH+A     0
1   1  171      0  71.7     0  47   운동선수  RH+A     0
2   1  178      0  77.1     0  39  특수전문직  RH+B     0

In [16]:
df_ROS_forpatient.iloc[-4:]

      성별   신장  심혈관질환    체중  흡연여부  연령   직업    혈액형  재발여부
1890   2  157      0  59.0     0  42  사무직   RH+B     0
1891   1  167      0  70.0     0  61   무직   RH+O     0
1892   1  177      0  77.0     0  29  사무직   RH+A     0
1893   2  168      0  49.0     0  30  사무직  RH+AB     0

### index 관련 사항

In [17]:
df_ROS.set_index('환자ID') # unique column

,Unnamed: 0,Large Lymphocyte,Location of herniation,ODI,가족력,간질성폐질환,고혈압여부,과거수술횟수,당뇨여부,말초동맥질환여부,...,Modic change,PI,PT,Seg Angle(raw),Vaccum disc,골밀도,디스크단면적,디스크위치,척추이동척도,척추전방위증
환자ID,,,,,,,,,,,,,,,,,,,,,
1PT,0,22.8,3,51.0,0.0,0,0,0,0,0,...,3,51.6,36.6,14.4,0,-1.01,2048.50,4,Down,0
2PT,1,44.9,4,26.0,0.0,0,0,0,0,0,...,0,40.8,7.2,17.8,0,-1.14,1753.10,4,Up,0
3PT,2,53.0,3,NaN,0.0,0,0,1,0,0,...,0,67.5,27.3,10.2,0,-1.77,1749.00,4,Down,0
4PT,3,54.7,4,18.0,0.0,0,1,0,0,0,...,0,49.2,18.7,19.9,0,-1.58,1796.20,4,Down,0
5PT,4,53.8,4,NaN,0.0,0,1,0,0,0,...,0,58.8,14.7,5.2,0,-0.79,2021.48,4,Up,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1890PT,1889,44.0,1,NaN,0.0,0,0,0,0,0,...,2,59.5,23.0,21.8,0,NaN,2652.20,5,Middle,0
1891PT,1890,30.8,2,NaN,0.0,0,0,0,0,0,...,0,47.7,20.2,5.0,0,NaN,1795.80,4,Down,0
1892PT,1891,36.7,3,NaN,0.0,0,0,0,0,1,...,0,44.6,15.0,17.4,1,NaN,2624.40,4,Down,0
1893PT,1892,32.5,2,NaN,0.0,0,0,0,0,0,...,2,32.2,11.1,17.7,0,NaN,1972.50,5,Down,0
1894PT,1893,49.5,2,NaN,0.0,0,0,0,0,0,...,0,38.9,6.8,27.8,0,NaN,1574.40,5,Middle,0

In [19]:
df_ROS = df_ROS.set_index('성별') # not unique column

In [21]:
df_ROS.iloc[-4:]

,Unnamed: 0,환자ID,Large Lymphocyte,Location of herniation,ODI,가족력,간질성폐질환,고혈압여부,과거수술횟수,당뇨여부,...,Modic change,PI,PT,Seg Angle(raw),Vaccum disc,골밀도,디스크단면적,디스크위치,척추이동척도,척추전방위증
성별,,,,,,,,,,,,,,,,,,,,,
2,1890,1891PT,30.8,2,NaN,0.0,0,0,0,0,...,0,47.7,20.2,5.0,0,NaN,1795.8,4,Down,0
1,1891,1892PT,36.7,3,NaN,0.0,0,0,0,0,...,0,44.6,15.0,17.4,1,NaN,2624.4,4,Down,0
1,1892,1893PT,32.5,2,NaN,0.0,0,0,0,0,...,2,32.2,11.1,17.7,0,NaN,1972.5,5,Down,0
2,1893,1894PT,49.5,2,NaN,0.0,0,0,0,0,...,0,38.9,6.8,27.8,0,NaN,1574.4,5,Middle,0

In [22]:
### 정렬
df_ROS_forpatient.sort_values(by=['신장'])

      성별   신장  심혈관질환     체중  흡연여부  연령   직업   혈액형  재발여부
1763   2  140      1   35.0     0  86   무직  RH+O     0
896    2  140      0   35.0     0  48  NaN  RH+A     0
348    2  142      0   52.9     0  38  자영업  RH+A     0
70     2  143      0   53.3     0  31  사무직  RH+O     0
974    2  143      0   56.0     0  56   무직  RH+O     0
...   ..  ...    ...    ...   ...  ..  ...   ...   ...
202    1  189      0   85.3     0  22   군인  RH+B     0
464    1  189      0   85.9     0  39  자영업  RH+A     0
1227   1  190      0   74.0     0  47  자영업  RH+O     0
1246   1  191      0  114.0     0  17   학생  RH+O     0
1579   1  204      0  103.0     0  39   교사  RH+O     1

[1894 rows x 9 columns]

In [26]:
df_ROS_forpatient.sort_values(by=['신장', '체중'], ascending=[False, False])

      성별   신장  심혈관질환     체중  흡연여부  연령   직업   혈액형  재발여부
1579   1  204      0  103.0     0  39   교사  RH+O     1
1246   1  191      0  114.0     0  17   학생  RH+O     0
1227   1  190      0   74.0     0  47  자영업  RH+O     0
464    1  189      0   85.9     0  39  자영업  RH+A     0
202    1  189      0   85.3     0  22   군인  RH+B     0
...   ..  ...    ...    ...   ...  ..  ...   ...   ...
974    2  143      0   56.0     0  56   무직  RH+O     0
70     2  143      0   53.3     0  31  사무직  RH+O     0
348    2  142      0   52.9     0  38  자영업  RH+A     0
896    2  140      0   35.0     0  48  NaN  RH+A     0
1763   2  140      1   35.0     0  86   무직  RH+O     0

[1894 rows x 9 columns]

### quest
### 정렬 : 혈액형(ascending), 직업(descending)
### 추출 : 혈액형, 직업, 성별 --> 표시

In [36]:
## 정렬 : 혈액형(ascending), 직업(descending)
df_ROS_forpatient_asc = df_ROS_forpatient.sort_values(by=['혈액형', '직업'], ascending=[True, False])
df_ROS_forpatient_asc.iloc[:]

     성별   신장  심혈관질환    체중  흡연여부  연령  직업   혈액형  재발여부
60    1  171      0  71.5     0  22  학생  RH+A     0
176   1  170      0  71.1     0  18  학생  RH+A     0
184   2  159      0  58.9     0  17  학생  RH+A     0
224   2  171      0  63.1     0  19  학생  RH+A     0
272   1  169      0  70.3     1  24  학생  RH+A     0

In [37]:
## 추출 : 혈액형, 직업, 성별 --> 표시
df_ROS_forpatient_asc[['성별', '직업', '혈액형' ]].iloc[:5]

     성별  직업   혈액형
60    1  학생  RH+A
176   1  학생  RH+A
184   2  학생  RH+A
224   2  학생  RH+A
272   1  학생  RH+A

### quest 2 (df_ROS_forpatient 기준)
- 직업군이 상위 2위에 속하는 항목 : value_count, DataFrame, iloc
- 체중 > 70, 신장 > 170, 흡연여부 없는분
- 해당 레코드 갯수 표현

In [58]:
# 직업군이 상위 2위에 속하는 항목 : value_count, DataFrame, iloc
df_ROS_forpatient = df_ROS[['성별', '신장', '심혈관질환', '체중', '흡연여부', '연령', '직업', '혈액형', '재발여부']]
df_ROS_forpatient['직업'].value_counts()

사무직      449
자영업      171
무직       164
학생       135
주부       114
군인        90
공무원       51
운수업       50
노동직       42
농업        40
의료직       40
사업가       39
교사        30
특수전문직     23
건설업       17
운동선수      14
예술가       10
Name: 직업, dtype: int64

In [86]:
# 직업군이 상위 2위에 속하는 항목
# 체중 > 70, 신장 > 170, 흡연여부 없는분
condition = ((df_ROS_forpatient['직업'] == '사무직') | (df_ROS_forpatient['직업'] == '자영업')) &  (df_ROS_forpatient['체중'] > 70) & (df_ROS_forpatient['신장'] > 170) & (df_ROS_forpatient['흡연여부'] == 0) 
df_ROS_forpatient_cond = df_ROS_forpatient.loc[condition]
df_ROS_forpatient_cond

      성별   신장  심혈관질환    체중  흡연여부  연령   직업   혈액형  재발여부
23     1  179      1  77.8     0  42  사무직  RH+B     0
30     1  173      0  73.3     0  52  사무직  RH+O     0
40     1  182      0  80.2     0  50  사무직  RH+A     1
53     1  185      0  82.7     0  40  사무직  RH+O     0
72     1  171      0  72.1     0  30  자영업  RH+A     0
...   ..  ...    ...   ...   ...  ..  ...   ...   ...
1830   1  176      0  80.0     0  32  자영업  RH+O     0
1841   1  175      0  99.0     0  32  자영업  RH+A     1
1855   1  187      0  74.0     0  29  사무직  RH+B     0
1871   1  177      0  82.0     0  47  사무직  RH+B     0
1892   1  177      0  77.0     0  29  사무직  RH+A     0

[164 rows x 9 columns]

In [87]:
# 해당 레코드 갯수 표현
len(df_ROS_forpatient_cond)

164