In [8]:
import matplotlib.pyplot as plt
import matplotlib as mpl
mpl.rc('font',family='Malgun Gothic')
import seaborn as sns
import pandas as pd
import scipy.stats as stats

In [2]:
df_ROS = pd.read_csv('../../datasets/RecurrenceOfSurgery.csv')
df_ROS.head(2)

,Unnamed: 0,환자ID,Large Lymphocyte,Location of herniation,ODI,가족력,간질성폐질환,고혈압여부,과거수술횟수,당뇨여부,...,Modic change,PI,PT,Seg Angle(raw),Vaccum disc,골밀도,디스크단면적,디스크위치,척추이동척도,척추전방위증
0,0,1PT,22.8,3,51.0,0.0,0,0,0,0,...,3,51.6,36.6,14.4,0,-1.01,2048.5,4,Down,0
1,1,2PT,44.9,4,26.0,0.0,0,0,0,0,...,0,40.8,7.2,17.8,0,-1.14,1753.1,4,Up,0

In [4]:
df_ROS.columns

Index(['Unnamed: 0', '환자ID', 'Large Lymphocyte', 'Location of herniation',
       'ODI', '가족력', '간질성폐질환', '고혈압여부', '과거수술횟수', '당뇨여부', '말초동맥질환여부', '빈혈여부',
       '성별', '스테로이드치료', '신부전여부', '신장', '심혈관질환', '암발병여부', '연령', '우울증여부', '입원기간',
       '입원일자', '종양진행여부', '직업', '체중', '퇴원일자', '헤모글로빈수치', '혈전합병증여부', '환자통증정도',
       '흡연여부', '통증기간(월)', '수술기법', '수술시간', '수술실패여부', '수술일자', '재발여부', '혈액형',
       '전방디스크높이(mm)', '후방디스크높이(mm)', '지방축적도', 'Instability', 'MF + ES',
       'Modic change', 'PI', 'PT', 'Seg Angle(raw)', 'Vaccum disc', '골밀도',
       '디스크단면적', '디스크위치', '척추이동척도', '척추전방위증'],
      dtype='object')

### 분석 접근 방식
- 표현하는 데이터 타입 
- 시각화 종류 
    - 단일변수 / 연속형 : histplot(분포를 볼때 사용)
    - 단일변수 / 범주형 : barplot
    - 단일변수 / 순서형 : lineplot
- 현 데이터로 시각화 가능 여부 
    - 한 chart에 동시 표현 여부 : 레코드 분리 되어 있어야 함.
    - 단일 변수 표현 시 주의점 : count 대치하는 변수 여부

In [6]:
# 필요한 변수만 추출
df_ROS_extract = df_ROS[['환자ID', '입원일자', '퇴원일자']]
df_ROS_extract[:2]

  환자ID      입원일자      퇴원일자
0  1PT  20190713  20190716
1  2PT  20190715  20190716

In [10]:
df_ROS_extract['입원일자_datetime'] = pd.to_datetime(df_ROS_extract['입원일자'].astype(str))
df_ROS_extract['퇴원일자_datetime'] = pd.to_datetime(df_ROS_extract['퇴원일자'].astype(str))

C:\Users\01-02\AppData\Local\Temp\ipykernel_8992\1488843031.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_ROS_extract['입원일자_datetime'] = pd.to_datetime(df_ROS_extract['입원일자'].astype(str))
C:\Users\01-02\AppData\Local\Temp\ipykernel_8992\1488843031.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_ROS_extract['퇴원일자_datetime'] = pd.to_datetime(df_ROS_extract['퇴원일자'].astype(str))

In [12]:
df_ROS_extract[:10]
# df_ROS_extract.info()

   환자ID      입원일자      퇴원일자 입원일자_datetime 퇴원일자_datetime
0   1PT  20190713  20190716    2019-07-13    2019-07-16
1   2PT  20190715  20190716    2019-07-15    2019-07-16
2   3PT  20190729  20190801    2019-07-29    2019-08-01
3   4PT  20190731  20190803    2019-07-31    2019-08-03
4   5PT  20190903  20190907    2019-09-03    2019-09-07
5   6PT  20190905  20190907    2019-09-05    2019-09-07
6   7PT  20190622  20190626    2019-06-22    2019-06-26
7   8PT  20190330  20190402    2019-03-30    2019-04-02
8   9PT  20191203  20191206    2019-12-03    2019-12-06
9  10PT  20191210  20191213    2019-12-10    2019-12-13

### 주차별 환자 입원/퇴원 추이 시각화 및 인사이트
- 표현하는 데이터 타입 : 연속형, 단일변수 
- 시각화 종류 : lineplot

### 요일별 환자 입원/퇴원 시각화 및 인사이트
- 표현하는 데이터 타입 : 범주형, 단일변수 
- 시각화 종류 : barplot
- 레코드 갯수로 count

In [16]:
df_ROS_extract['입원일자_datetime_day'] = df_ROS_extract['입원일자_datetime'].dt.day_name()
df_ROS_extract['퇴원일자_datetime_day'] = df_ROS_extract['퇴원일자_datetime'].dt.day_name()

C:\Users\01-02\AppData\Local\Temp\ipykernel_8992\1296604899.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_ROS_extract['입원일자_datetime_day'] = df_ROS_extract['입원일자_datetime'].dt.day_name()
C:\Users\01-02\AppData\Local\Temp\ipykernel_8992\1296604899.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_ROS_extract['퇴원일자_datetime_day'] = df_ROS_extract['퇴원일자_datetime'].dt.day_name()

In [17]:
df_ROS_extract[:3]

,환자ID,입원일자,퇴원일자,입원일자_datetime,퇴원일자_datetime,입원일자_datetime_day,퇴원일자_datetime_day
0,1PT,20190713.0,20190716.0,2019-07-13,2019-07-16,Saturday,Tuesday
1,2PT,20190715.0,20190716.0,2019-07-15,2019-07-16,Monday,Tuesday
2,3PT,20190729.0,20190801.0,2019-07-29,2019-08-01,Monday,Thursday

In [21]:
df_ROS_extract['입원일자_datetime_day'].value_counts()

Tuesday      376
Monday       329
Thursday     329
Wednesday    304
Sunday       204
Friday       204
Saturday     148
Name: 입원일자_datetime_day, dtype: int64

In [23]:
# pd.pivot_table(data=df_ROS_extract[['입원일자_datetime_day', '환자ID']], index='입원일자_datetime_day', aggfunc=len).plot(kind='bar')
df_ROS_extract_pivot = pd.pivot_table(data=df_ROS_extract[['입원일자_datetime_day', '환자ID']], index='입원일자_datetime_day', aggfunc=len)
df_ROS_extract_pivot

                   환자ID
입원일자_datetime_day
Friday              204
Monday              329
Saturday            148
Sunday              204
Thursday            329
Tuesday             376
Wednesday           304

In [28]:
df_ROS_extract_pivot['입원일자_dayname'] = df_ROS_extract_pivot.index

In [29]:
df_ROS_extract_pivot

                   환자ID 입원일자_dayname
입원일자_datetime_day
Friday              204       Friday
Monday              329       Monday
Saturday            148     Saturday
Sunday              204       Sunday
Thursday            329     Thursday
Tuesday             376      Tuesday
Wednesday           304    Wednesday