In [2]:
import pymongo as mg
import pandas as pd

In [3]:
client = mg.MongoClient(host='mongodb://localhost:27017')

In [4]:
database = client['db_NHIS']

In [5]:
collection = database['NSC2_BND']

In [10]:
cursor = collection.find({})
data_list = list(cursor)

In [12]:
df_BND = pd.DataFrame(data_list)
df_BND.head(2)

                        _id  RN_INDI BTH_YYYY  DTH_YYYYMM     COD1     COD2
0  64d2fd21ad321030ae1b7db6   294364   1921LE    200707.0  T08-T14  W00-W19
1  64d2fd21ad321030ae1b7db7   646257   1921LE    200805.0  A15-A19      NaN

In [14]:
df_BND.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   _id         1000 non-null   object
 1   RN_INDI     1000 non-null   int64
 2   BTH_YYYY    1000 non-null   object
 3   DTH_YYYYMM  71 non-null     float64
 4   COD1        60 non-null     object
 5   COD2        7 non-null      object
dtypes: float64(1), int64(1), object(4)
memory usage: 47.0+ KB

In [15]:
df_BND.columns

Index(['_id', 'RN_INDI', 'BTH_YYYY', 'DTH_YYYYMM', 'COD1', 'COD2'], dtype='object')

In [18]:
df_BND_drops = df_BND.drop(columns=['_id',])
df_BND_drops.head(2)

   RN_INDI BTH_YYYY  DTH_YYYYMM     COD1     COD2
0   294364   1921LE    200707.0  T08-T14  W00-W19
1   646257   1921LE    200805.0  A15-A19      NaN

In [19]:
df_BND_drops.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   RN_INDI     1000 non-null   int64
 1   BTH_YYYY    1000 non-null   object
 2   DTH_YYYYMM  71 non-null     float64
 3   COD1        60 non-null     object
 4   COD2        7 non-null      object
dtypes: float64(1), int64(1), object(3)
memory usage: 39.2+ KB

In [20]:
df_BND_drops.describe()

            RN_INDI     DTH_YYYYMM
count  1.000000e+03      71.000000
mean   6.404133e+05  201471.873239
std    5.241253e+05     432.203819
min    1.433000e+03  200707.000000
25%    2.812005e+05  201104.000000
50%    5.499230e+05  201508.000000
75%    8.177570e+05  201904.500000
max    3.000758e+06  202105.000000

In [21]:
df_BND_drops.describe(include=object)

        BTH_YYYY COD1     COD2
count       1000   60        7
unique        95   42        6
top         1968  C34  W75-W84
freq          24    4        2

In [22]:
df_BND_drops['BTH_YYYY'].value_counts()

1968    24
1960    24
1969    21
1967    21
1988    19
        ..
1929     1
1925     1
1924     1
1923     1
1922     1
Name: BTH_YYYY, Length: 95, dtype: int64

In [23]:
df_BND_drops['BTH_YYYY'].unique()

array(['1921LE', 1922, 1923, 1924, 1925, 1926, 1927, 1928, 1929, 1930,
       1931, 1932, 1933, 1934, 1935, 1936, 1937, 1938, 1939, 1940, 1941,
       1942, 1943, 1944, 1945, 1946, 1947, 1948, 1949, 1950, 1951, 1952,
       1953, 1954, 1955, 1956, 1957, 1958, 1959, 1960, 1961, 1962, 1963,
       1964, 1965, 1966, 1967, 1968, 1969, 1970, 1971, 1972, 1973, 1974,
       1975, 1976, 1977, 1978, 1979, 1980, 1981, 1982, 1983, 1984, 1985,
       1986, 1987, 1988, 1989, 1990, 1991, 1992, 1993, 1994, 1995, 1996,
       1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007,
       2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015], dtype=object)